html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.hero {
    background-color: #1f2937;
    color: white;
}

.hero-logo {
    font-size: 24px;
    /* font-weight: bold; */
}

.hero-inner-container {
    width: 80%;
    margin: 0 auto;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-top-links {
    display: flex;
    gap: 16px;
}

.hero-bottom {
    margin-top: 40px;
    display: flex;
    padding-bottom: 40px;
    gap: 16px;

}

.hero-bottom-left {
    width: 50%;
    margin: auto;
}

.hero-bottom-right {
    width: 50%;
}

.hero-bottom-right-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-bottom-left-title {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-bottom-left-subtext {
    margin: 0;
}

.hero-bottom-left-button {
    margin-top: 16px;
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
}


.random-info {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 60%;
    margin: 0 auto;
}

.random-info-row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 40px;
}

.blue-square {
    aspect-ratio: 1;
    width: 100%;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.random-info-subtext {
    font-size: 14px;
    color: #666;
}

.quote {
    background-color: #e5e7eb;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote-inner-container {
    width: 60%;
    margin: 0 auto;
}

.quote-author {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

.footer {
    background-color: #192f37;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.call-to-action {
    background-color: #3882f6;
    padding: 50px 0;
    margin: 100px 200px;
    border-radius: 8px;
    color: white;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.cta-text h4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.cta-text p {
    margin: 5px 0 0 0;
    opacity: 0.9;
    font-size: 14px;
}

.cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer !important;
    transition: all 0.3s;
}

.cta-button:hover {
    background-color: white;
    color: #3882f6;
}
